html,body {
    overflow:hidden;
    width:100%;
    height:100%;
    margin:0;
    padding:0;
    }
    h3{
        margin-block-end: 0.4em;
    }
    h4{
        margin-block-end: 0.4em;
    }
    .wrap input {
    width:400px;
    height:43px;
    font-size:16px;
    color:#000;
    background-color:#00000017;
    border-radius:50px;
    border:2px;
    padding-inline-start:20px;
    border-color:#ffffff69;
    border-style:solid;
    }
    
    .button-top {
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
    color:var(--button-color);
    font-family:'Noto Sans KR', sans-serif;
    font-size:1rem;
    font-weight:400;
    text-align:center;
    text-decoration:none;
    border:none;
    border-radius:23px;
    display:inline-block;
    width:auto;
    box-shadow:0 4px 6px -1px rgba(0,0,0,0.1), 0 2px 4px -1px rgba(0,0,0,0.06);
    cursor:pointer;
    transition:.5s;
    margin:0;
    padding:1rem 1.2rem .7rem;
    }
    
    .button-side {
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
    color:var(--button-color);
    font-family:'Noto Sans KR', sans-serif;
    font-size:1rem;
    font-weight:400;
    text-align:center;
    text-decoration:none;
    border:none;
    border-radius:50px;
    display:inline-block;
    width:auto;
    box-shadow:0 4px 6px -1px rgba(0,0,0,0.1), 0 2px 4px -1px rgba(0,0,0,0.06);
    cursor:pointer;
    transition:.5s;
    margin:0;
    padding:2rem 1.2rem 1.8rem;
    }
    
    .button-big {
    width:100px;
    height:100px;
    display:inline-block;
    vertical-align:middle;
    font-size:.9rem;
    }
    
    #renderCanvas {
    top:0;
    left:0;
    width:100%;
    height:100%;
    touch-action:none;
    }
    
    .wrap li {
    position:relative;
    margin-bottom:10px;
    border-radius:2px;
    background:rgba(255, 255, 255);
    padding:5px;
    display: inline-block;
    text-align: left;
    width: 415px;
    }
    
    .wrap li .box-info {
    display:flex;
    padding: 20px 35px;
    }
    
    .wrap li .box-txt {
    width:100%;
    padding-bottom: 50px;
    }
    
    .wrap li .box-txt p {
    
    text-overflow:ellipsis;
    margin:10px;
    }
    
    .wrap li .box-txt input {
        width:248px;    
        background-color: white;
        border-color: #e3e3e3;
    }
    .wrap li .box-txt .button-close {
        left: 47%;
        position: sticky;
        width: 100px;
        background-color: black;
        color: white;
        bottom: 30px;
    }
    
    .ul-top {
    position:absolute;
    top:10px;
    width:100%;
    }
    
    .ul-left {
    position:absolute;
    }
    
    .ul-right {
    position:absolute;
    top:10%;
    right:-40px;
    }
    
    .ul-bottom {
    position:absolute;
    bottom:10px;
    width:100%;
    padding:0;
    }
    
    .wrap-left {
    float:left;
    padding-bottom:15px;
    }
    
    .wrap-right {
    float:right;
    padding-right:80px;
    padding-bottom:15px;
    }
    
    .wrap-center {
    text-align:center;
    }
    
    .modal {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    display:none;
    background-color:rgba(0,0,0,0.4);
    text-align: center;
    }
    .modal2 {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    display:none;
    background-color:rgba(0,0,0,0.4);
    text-align: center;
    }
    .wrap select {
        width: 346px;
        padding: .8em .5em;
        border: 1px solid #999;
        font-family: inherit;
        background: url('../img/arrow.jpg') no-repeat 95% 50%;
        border-radius: 0px;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        }
        .wrap select::-ms-expand {
            display: none;
            }  
            h2{
                margin-block-end: 0.3em;
            }
        .box-thumbnail{
            padding-top: 10px;
        }
        .video-select{
            padding-bottom: 10px;
        }


        video{
        border-radius: 15px;
    }

    .wrap li.li-chatting{
        position: fixed;
        display: block;
        left: -40px;
        top: 15%;
        height: 500px;
        background: #00000073;
        color: white;
        border-radius: 50px;
    }
    .button-chatting{
     top: 40%;    
     position: fixed;
    }
    #chat_content {
        height: 380px;
        overflow-y:auto;
        overflow-x:hidden;
        white-space:normal;
    }
    #chat_content::-webkit-scrollbar {
        width: 10px;
      }
      #chat_content::-webkit-scrollbar-thumb {
        background-color: #2222229e;
        border-radius: 10px;
        background-clip: padding-box;
        border: 2px solid transparent;
      }
      #chat_content::-webkit-scrollbar-track {
        background-color: #ffffff00;
        border-radius: 10px;
        box-shadow: inset 0px 0px 5px white;
      }
    #chat_content div{
        padding-top: 15px;
        font-size: 15px;
    }
    strong{
        font-size: 18px;
    }

    .button-video{
        left: 10%;
        position: absolute;
    }

    button img{
        height: 30px;
    }
    .button-side img{
        height: 30px;
    }

    #popup {
        display: none; /*숨기기*/
        width: 100%;
        height: 100%;
        background: rgba(0,0,0,0.9);    
        position: absolute;
        top: 0;
    }
    
    #popmenu {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
        width: 80%;
        height: 80%;
        text-align: center;
        background: #fff;
    }
    
    #popmenu p {
        margin-top: 80px;
    }
    
    .exit {
        position: absolute;
        left: 50%;
        bottom: 30px;
        transform: translate(-50%,0);
        width: 100px;
        height: 30px;
        text-align: center;
        line-height: 30px;
        cursor: pointer;
        background-color: black;
        color: white;
        bottom: 30px;
        border-radius: 50px;
    }
    
    #popmenu #remoteVideos{
        width: 100%;
        height: 80%;

    }
    #popmenu video{
        margin-top: 30px;    
        width: 100%;
        height: 100%;

    }
    #popmenu iframe{
        margin-top: 30px;    
        width: 100% !important;
        height: 80% !important;

    }
    #popup-content{
        height: 100%;
    }
    #remotePlayerVideos{
        height: 0;
    }